<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;padding-top:20px">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button class="big ui facebook button">
    <i class="facebook icon"></i>
    Log in with Facebook
  </button>
</div>


